@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac+Eastern:wght@600&family=Playfair+Display&family=Public+Sans:wght@600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans Syriac Eastern', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Public Sans', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* home ----------------------- */
.homeImage {
  height: 64vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  background: grey;
  top: 0;
  z-index: -1;
}

.homePage {
  position: relative;
  min-height: 93vh;
}

.searchButton h1 {
  min-width: 50rem;
  font-size: 40px;
  padding-left: 5rem;
  color: white;
  padding-bottom: 30px;
}

.searchButton h1 span {
  color: #04DA8D;
}

.searchButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: bold;
  height: 64vh;
  margin-left: 10rem;
  min-width: 40rem;
  max-width: 40rem;
  color: rgba(128, 128, 128, 0.179);
  border-radius: 100px;
}

.searchButton TextField {
  border-radius: 50px;
  overflow: hidden;
}

.grid {
  display: grid;
  padding: 0 10rem 4rem;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
}

::-webkit-scrollbar{
  height: 0;
  width: 0;
}

.flex {
  display: flex;
  width: 200vw;
  gap: 10px;
  overflow-x: scroll;
  max-width: 100vw;
}

.py{
  padding: 1rem 10rem;
}

.flex .card {
  min-width: 100vw;
}

.comment h3{
  padding: 0.9rem;
  background: rgba(128, 128, 128, 0.093);
  text-align: center;
}

.comment h2 {
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

.comment button:hover {
  background: #C2D5F7;
  color: #000;
}

.comment button {
  background: rgba(0, 0, 255, 0.703);
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 50px;
}

/* * {
  border: none !important;
} */